.popup__button {
  width: 100%;
  padding: 14px 0 18px;
  display: flex;
  justify-content: center;
  background-color: #000;
  border: none;
  border-radius: 2px;
  color: #fff;
  line-height: 21.78px;
  font-size: 18px;
  font-weight: 400;
}

.popup__button:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  .popup__button {
    padding-bottom: 14px;
    line-height: 16.94px;
    font-size: 14px;
  }
}