.footer__copyright {
  margin: 0;
  color: #545454;
  line-height: 21.78px;
  font-size: 18px;
  font-weight: 400;
}

@media screen and (max-width: 767px) {
  .footer__copyright {
    line-height: 16.94px;
    font-size: 14px;
  }
}