.popup__close {
  padding: 0;
  border: none;
  background-color: transparent;
  position: absolute;
  width: 32px;
  height: 32px;
  top: -40px;
  right: -40px;
  background-image: url(../../../src/images/close-button.svg);
  background-size: contain;
  transition: .2s;
}

.popup__close:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .popup__close {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}