.card__delete-button {
  padding: 0;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 19px;
  background-image: url(../../../images/delete-button.svg);
  transition: .2s;
}

.card__delete-button:hover {
  cursor: pointer;
  opacity: 0.5;
}